/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-ago-2015, 21:14:41
    Author     : andresfelipegarciaduran
*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700");
html {
    font-family: sans-serif !important;
    -ms-text-size-adjust: 100% !important;
    -webkit-text-size-adjust: 100% !important;
}

body{
    /*  background: rgba(98,125,77,1);
      background: -moz-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(86,115,62,1) 4%, rgba(47,82,14,1) 17%, rgba(47,82,14,1) 32%, rgba(47,82,14,1) 38%, rgba(47,82,14,1) 48%, rgba(47,82,14,1) 54%, rgba(47,82,14,1) 64%, rgba(47,82,14,1) 68%, rgba(47,82,14,1) 77%, rgba(47,82,14,1) 82%, rgba(47,82,14,1) 91%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(98,125,77,1)), color-stop(4%, rgba(86,115,62,1)), color-stop(17%, rgba(47,82,14,1)), color-stop(32%, rgba(47,82,14,1)), color-stop(38%, rgba(47,82,14,1)), color-stop(48%, rgba(47,82,14,1)), color-stop(54%, rgba(47,82,14,1)), color-stop(64%, rgba(47,82,14,1)), color-stop(68%, rgba(47,82,14,1)), color-stop(77%, rgba(47,82,14,1)), color-stop(82%, rgba(47,82,14,1)), color-stop(91%, rgba(47,82,14,1)));
      background: -webkit-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(86,115,62,1) 4%, rgba(47,82,14,1) 17%, rgba(47,82,14,1) 32%, rgba(47,82,14,1) 38%, rgba(47,82,14,1) 48%, rgba(47,82,14,1) 54%, rgba(47,82,14,1) 64%, rgba(47,82,14,1) 68%, rgba(47,82,14,1) 77%, rgba(47,82,14,1) 82%, rgba(47,82,14,1) 91%);
      background: -o-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(86,115,62,1) 4%, rgba(47,82,14,1) 17%, rgba(47,82,14,1) 32%, rgba(47,82,14,1) 38%, rgba(47,82,14,1) 48%, rgba(47,82,14,1) 54%, rgba(47,82,14,1) 64%, rgba(47,82,14,1) 68%, rgba(47,82,14,1) 77%, rgba(47,82,14,1) 82%, rgba(47,82,14,1) 91%);
      background: -ms-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(86,115,62,1) 4%, rgba(47,82,14,1) 17%, rgba(47,82,14,1) 32%, rgba(47,82,14,1) 38%, rgba(47,82,14,1) 48%, rgba(47,82,14,1) 54%, rgba(47,82,14,1) 64%, rgba(47,82,14,1) 68%, rgba(47,82,14,1) 77%, rgba(47,82,14,1) 82%, rgba(47,82,14,1) 91%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#2f520e', GradientType=1 );
    */color: #000000 !important; 
    font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif !important;
}

.banner {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    padding: 10px;
    overflow: hidden;
    border: none;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    font: normal 16px/1 "Times New Roman", Times, serif;
    color: rgba(255,255,255,1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-shadow: 0 0 2px 1px rgba(0,0,0,0.5) ;
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.5);
    height: 250px;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.datos {
    padding: 10px;
    font-size: large;
}
.container-login{
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.ovalo {
    width: 120px;
    height: 120px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    background: url('img/logo-login.jpeg') no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.ovalo-center {
    margin: auto;
    vertical-align: middle;
    display: inline-block;
    margin-left: 40%;
}

.div-center{
    text-align: center;
    position: relative;   
}

.render-img-responsive {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* BEGIN RENDER PRIME-BOOTSTRAP */
label{
    width: 100% !important;
}

.ui-widget {
    font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif !important;
}
.ui-widget-content {
    background: inherit !important;
    border: inherit !important;
}

.imagenAux {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {
    box-shadow: inherit !important;
}

textarea{
    resize: none !important;
}

/* END RENDER PRIME-BOOTSTRAP*/

.button-navbar{
    display: block !important;
    margin: 10px !important;
    width: 170px !important;
}

.button-navbar-right{
    padding-left: 100px !important; //refinar
}

.menu-bar{
    font-weight: bold !important; 
    color: #000000 !important;
}
.datos-row{
    background: #ffffff !important;
}